# Copy this file to phpstan.neon and replace {VENDOR_DIR} with the appropriate
# path. In installations without composer (e.g. as WordPress plugin) the vendor
# directoy is inside the CiviCRM folder.

includes:
	- phpstan.neon.dist

parameters:
	bootstrapFiles:
		- {VENDOR_DIR}/autoload.php
