# Copy this file to phpstan.neon and replace {VENDOR_DIR} with the appropriate
# path.

includes:
	- phpstan.neon.dist

parameters:
	scanDirectories:
		- {VENDOR_DIR}/civicrm/civicrm-core/CRM/
	bootstrapFiles:
		- {VENDOR_DIR}/autoload.php
