<?xml version="1.0"?>
<!-- 
  if you want to use this extension, be sure to move it out of the 
  org.project60.sepa project and rename this file to info.xml 
-->
<extension key="org.project60.sepacustom" type="module">
  <file>sepacustom</file>
  <name>SEPA Customisation Extension</name>
  <description>Provides customisations for the org.project60.sepa extension.</description>
    <license>aGPL3</license>
  <maintainer>
    <author>Project60</author>
    <email>endres@systopia.de</email>
  </maintainer>
  <releaseDate></releaseDate>
  <version>1.0</version>
  <develStage>example</develStage>
  <compatibility>
    <ver>4.4</ver>
    <ver>4.5</ver>
    <ver>4.6</ver>
  </compatibility>
  <comments></comments>
  <civix>
    <namespace>CRM/Sepacustom</namespace>
  </civix>
</extension>
